/forge/*.*
/forge/client/*
/forge/common/*
/forge/fml/*
/forge/patches/*
/forge/mcp/bin/*
/forge/mcp/conf/*
/forge/mcp/docs/*
/forge/mcp/jars/*
/forge/mcp/lib/*
/forge/mcp/logs/*
/forge/mcp/reobf/*
/forge/mcp/runtime/*
/forge/mcp/temp/*
/forge/mcp/CHANGELOG
/forge/mcp/*.*
/forge/mcp/eclipse/*

/build/temp/*

/forge/mcp/src/minecraft/*
!/forge/mcp/src/minecraft/mcWarfare